body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav.nav-pills.nav-stacked li{
margin: 10%;
    margin-top: 0px;
    margin-left: 0;
    background: gainsboro;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: inline;
    width: 30%;
    border: 1px solid #000;
    text-decoration: none;
}